<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!--<script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>-->
    <!--<script src="scripts/angular-bing-maps.js"></script>-->
    <!-- CSS Refernces  -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/site.css" rel="stylesheet" />
    <link href="../css/jquery.bxslider.css" rel="stylesheet" />
    <link href="../css/custom.css" rel="stylesheet" />
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Scripts Ref -->
    <script src="../scripts/winstore-jscompat.js"></script>
    <script src="../scripts/jquery-1.11.1.min.js"></script>
    <!--<script src="../scripts/bootstrap.min.js"></script>-->
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/Maps/app.js"></script>
    <script src="../scripts/custom.js"></script>
    <script src="../scripts/jquery.bxslider.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="tilescntrl">
    <div id="wrapper">
        <!-- header -->
        <div id="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <img id="backpagediv" src="../images/back_1.png" height="28" width="28" style="padding-top:0px; margin-top:10px" class="pull-left" ng-click="backtoPage()" />

                        <a id="menu-toggle" href="javascript:void(0);" class="glyphicon btn-menu toggle" style="display:none">
                            <i class="fa fa-bars fa-2x"></i>
                        </a>
                        <div style="padding-left:50px">
                            <img id="menu-logo" src="../images/XView.png" height="36" width="36" />
                            <a id="menu-title">Executive Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
        <!-- Page content -->
        <div class="container-fluid" style="margin-top:35px">
            <div class="row">
                <div class="col-md-12 pull-left hidden">
                    <img src="../images/backarrow-icon.png" height="24" width="24" ng-click="backtoPage()" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="metro-tile metro-tile-small metro-tile-twitter">
                        <div id="listofAccounts" ng-click="listofaccounts();">
                            <i class="fa fa-book fa-4x"></i><div class="accountsdiv"> Accounts </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="metro-tile metro-tile-small metro-tile-aciii">
                        <div id="listofManagers" ng-click="listofDMtiles();">
                            <i class="fa fa-users fa-3x"></i><div class="accountsdiv"> Delivery Managers </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="metro-tile metro-tile-small metro-tile-health">
                        <div id="listofAccountManagers" ng-click="listofAccountManagers();">
                            <i class="fa fa-users fa-3x"></i><div class="accountsdiv"> Account Managers </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:112px">
                <div class="col-md-12 nopadding">
                    <ul class="bxslider" style="height:30px; font-size:15px; background-color:#A9D0F5">
                        <li style="color:#10168e;">Welcome to Rashmi! Rashmi joining as HR Head for PSP.</li>
                        <li style="color:#931a34;">Account planning first review with Bala completed</li>
                        <li style="color:#10168e;">MBR- Feb’16 completed with Customers. </li>
                        <li style="color:#931a34;">RideBuzz-CarPool App presented to Sr.Management.</li>
                        <li style="color:#10168e;">Coming up - Executive Dashboard – ExView, WiproTechTalk – Technical discussion forum.</li>
                        <li style="color:#931a34;">Moonshot hackers – Place to get recognition for your Ideas.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row" id="bottomNav">
                    <div class="col-xs-3 text-center"><a class="footerAnchor" href="../mapFrame.html"><i class="fa fa-home fa-2x"></i><br></a></div>
                    <div class="col-xs-3 text-center"><a class="footerAnchor" href="#"><i class="fa fa-star fa-2x"></i><br></a></div>
                    <div class="col-xs-3 text-center"><a class="footerAnchor" href="#"><i class="fa fa-search fa-2x"></i><br></a></div>
                    <div class="col-xs-3 text-center"><a class="footerAnchor" href="../master.html"><i class="fa fa-sign-out fa-2x"></i><br></a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
